<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <img src="/assets/images/logo.png" class="modal-header-logo" alt="" height="30px">
      <span class="modal-header-title" [hidden]="view">Delete Stock Details</span>
      <span class="modal-header-title" [hidden]="!view">View Stock Details</span>

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span class="close-icon" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <div class="row" *ngIf="showMsg">
      <div class="col-xs-12"><p class="alert alert-success"><strong> Success!</strong> Please click here
        to login!.</p></div>
    </div>
    <div class="row" *ngIf="showError">
      <div class="col-xs-12"><p class="alert alert-danger"><strong>Error in Adding.!</strong> Please click here to
        login!.</p></div>
    </div>

    <form #deleteform="ngForm" id="deleteform">
      <table class="table table-striped normal-table">
        <tbody>
        <tr >
          <td class="boldText table-bordered">Code</td>
          <td class="table-bordered">{{stock.code}}</td>
        </tr>
        <tr>
          <td class="boldText table-bordered">Name</td>
          <td class="table-bordered">{{stock.name}}</td>
        </tr >

        <tr>
          <td class="boldText table-bordered">In Stock</td>
          <td class="table-bordered">{{stock.inStock}}</td>
        </tr >
        <tr>
          <td class="boldText table-bordered">Item Type</td>
          <td class="table-bordered">{{stock.itemType}}</td>
        </tr >
        <tr>
          <td class="boldText table-bordered">Retaile prise</td>
          <td class="table-bordered">{{stock.retailPrice}}</td>
        </tr >
        <tr>
          <td class="boldText table-bordered">Wholesale Price</td>
          <td class="table-bordered">{{stock.wholesalePrice}}</td>
        </tr >

        </tbody>
      </table>

      <div class="row" [hidden]="view">
        <div class="col-md-12">
          <button type="button" class="primary-button" [disabled]="showMsg" (click)="delete()" >Delete </button>
          <button type="button" class="secondary-button" [disabled]="showMsg" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
