

<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <img src="/assets/images/logo.png" class="modal-header-logo" alt="" height="30px">
      <span class="modal-header-title" [hidden]="copymodel">Add Stock Details</span>
      <span class="modal-header-title" [hidden]="!copymodel">Clone Stock Details</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span class="close-icon" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="row" *ngIf="showMsg">
        <div class="col-xs-12"><p class="alert alert-success"><strong>Registration Success!</strong> Please click here
          to login!.</p></div>
      </div>
      <div class="row" *ngIf="showError">
        <div class="col-xs-12"><p class="alert alert-danger"><strong>Error in Adding.!</strong> Please click here to
          login!.</p></div>
      </div>


      <div class="form-group">
        <label>Task Code </label>
        <input type="text" formControlName="code"
               class="form-control"  [(ngModel)]="addModel.code" [ngClass]="{ 'is-invalid':f.code.touched && f.code.errors }" />
        <div *ngIf="f.code.touched && f.code.errors" class="invalid-feedback">
          <div *ngIf="f.code.errors.required">Item Code is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" formControlName="description" class="form-control" [(ngModel)]="addModel.description"
               [ngClass]="{ 'is-invalid': f.description.touched &&  f.description.errors }" />
        <div *ngIf="f.description.touched && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">description is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Whole Sale Prise</label>
        <input type="text" formControlName="wholesalePrice" class="form-control" [(ngModel)]="addModel.wholesalePrice"
               [ngClass]="{ 'is-invalid': f.wholesalePrice.touched &&  f.wholesalePrice.errors }" />
        <div *ngIf="f.wholesalePrice.touched && f.wholesalePrice.errors" class="invalid-feedback">
          <div *ngIf="f.wholesalePrice.errors.required">Wholesale Price is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Retail Prise</label>
        <input type="text" formControlName="retailPrice" class="form-control" [(ngModel)]="addModel.retailPrice"
               [ngClass]="{ 'is-invalid': f.retailPrice.touched &&  f.retailPrice.errors }" />
        <div *ngIf="f.retailPrice.touched && f.retailPrice.errors" class="invalid-feedback">
          <div *ngIf="f.retailPrice.errors.required">Retail Price is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>In Stock</label>
        <input type="number" #inStock="ngModel" class="form-control" [(ngModel)]="addModel.inStock"/>
      </div>

      <div class="form-group">
        <label>Item Type</label>
          <select name="itemType"  class="form-select" id="itemType"  [(ngModel)]="addModel.iteamType"  >
            <option value="" selected disabled>Select Item Type</option>
            <option >1</option>
            <option >2</option>
            <option >3</option>
            <option >4</option>

          </select>
      </div>

      <table>
        <tr>
          <td colspan="2">
            <div class="mv-mandatory-field">Mandatory fields are marked with
              <span style="color: red">*</span>
            </div>
          </td>
        </tr>
      </table>

      <div class="row">
        <div class="col-md-12">
          <input type="submit" class="primary-button" value="Submit" [disabled]="!registerForm.valid">
          <input type="button" class="primary-button" value="Reset" (click)="resetForm(f)">
        </div>
      </div>
    </form>
  </div>
</div>
